.colorPricipal{
    background-color: #070F2B;
}
.colorSecundario{
    background-color: #1B1A55;
}
.colorTerciario{
    background-color: #535C91;
}
.tipografia{
    color: #9290C3;
    font-style: italic;
}