.colorPrincipal{
    background-color: #070F2B;
}
.colorSecundario{
    background-color: #1B1A55;
}
.colorTerciario{
    background-color: #535C91;
}
.tipografia{
    color: #d9d9e3;
    font-style: italic;
}
.shadowImage{
    background-color: #242448;
}